.showcase {
  background-image: url("../../assets/img/showcase.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .cus-nav {
    background-color: transparent !important;
    color: #fff;
    .sidiv {
      width: 83%;
      .si {
        height: 40px;
      }
    }

    .link-style {
      color: #fff !important;
      margin-left: 1rem;
      font-weight: bold;
    }
    .logo {
      height: 80px;
    }
  }

  .showcase-content {
    height: 84vh;
    color: #fff !important;
  }

  .linkh {
    color: #666;
    display: inline-block;
    margin: 0;
    text-transform: uppercase;
  }
  .linkh:after {
    display: block;
    content: "";
    border-bottom: solid 3px #fff;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }
  .linkh:hover:after {
    transform: scaleX(1);
  }
  .linkh.fromRight:after {
    transform-origin: 100% 50%;
  }
  .linkh.fromLeft:after {
    transform-origin: 0% 50%;
  }
}

// .bigcon {
//   .title {
//     font-size: 6.5rem;
//   }
//   .subtitle {
//     font-size: 2.5rem;
//   }
// }

.text3 {
  font-size: 1.5rem;
}

.cusbtn {
  text-decoration: none !important;
  background-color: #3ad8b2;
  color: #000;
  font-size: 1.4rem;
  padding: 0.5rem 1.5rem;
  border: 3px solid #fff;
  font-weight: bold;
  border-radius: 20px;
  letter-spacing: 3px;
}

.cusbtn:hover {
  background-color: #3ad8b2;
  color: #000;
}

.ct {
  font-size: 2rem;
  font-weight: bold;
}

.hashimg {
  height: 221px;
}

.p2esec {
  margin-top: 5rem;
  .formobile {
    display: none;
  }
  .p2esec-title {
    font-size: 6.5rem;
  }
  .p2esec-subtitle {
    font-size: 2.5rem;
  }
}

.useronline {
  margin-top: 7rem;
  .userborder {
    border: 5px solid #1dff27;
    padding: 0.5rem 3.5rem;
  }
  .usernumber {
    color: #1dff27;
    font-weight: bold;
    font-size: 2.8rem;
  }
  .user-subtile {
    font-size: 2rem;
  }
}

.sec {
  margin-top: 5rem;
}
.playnowimg {
  height: 120px;
}

@media only screen and (max-width: 600px) {
  .logo-text {
    font-size: 1.7rem !important;
  }

  .smm {
    height: 150px;
  }

  .hashimg {
    height: 100px;
  }

  .ct {
    font-size: 1rem;
  }

  .sidiv {
    display: none;
  }

  .rmt {
    margin-top: 3rem;
  }

  // .showcase {
  //   // height: auto !important;
  //   .showcase-content {
  //     margin-top: 2rem !important;
  //     .mbcon {
  //       margin-top: 2rem !important;
  //     }
  //   }
  // }

  .showcase {
    height: 40vh;
    .showcase-content {
      height: 70%;
      display: flex;
      align-items: flex-end;
      // margin-top: 14rem;
      .countd {
        .showcase-title {
          font-size: 1.4rem;
        }
        .showcase-logo {
          font-size: 2rem !important;
        }
        margin-top: 2rem !important;
        .mbcon {
          margin-top: 2rem !important;
        }
      }
    }
  }

  .p2esec {
    margin-top: 0;
    .fordesk {
      display: none;
    }
    .formobile {
      display: block;
    }
    .p2esec-title {
      font-size: 2.5rem !important;
    }
    .p2esec-subtitle {
      font-size: 1.4rem !important;
    }
    .p2esec-img-text {
      height: 20px;
    }
    .p2esec-text3 {
      font-size: 0.6rem;
    }
  }

  .useronline {
    margin-top: 4rem;
    .userborder {
      border: 3px solid #1dff27;
      padding: 0.1rem 3.5rem;
    }
    .usernumber {
      color: #1dff27;
      font-weight: bold;
      font-size: 1.7rem;
    }
    .user-subtile {
      font-size: 1.3rem;
    }
  }

  .sec {
    margin-top: 3rem;
  }
  .playnowimg {
    height: 100px !important;
  }
  .bovsmimg {
    height: 100px !important;
  }

  // .bigcon {
  //   .title {
  //     font-size: 2rem;
  //   }
  //   .subtitle {
  //     font-size: 2.5rem;
  //   }
  // }
}

.showcase-title {
  font-size: 2rem;
  font-weight: bold;
}
.logo-text {
  font-size: 4rem;
}
.textblue {
  color: #4675ff;
}

.contact-showcase {
  background-image: linear-gradient(rgba(0, 0, 0, 0.747), rgba(0, 0, 0, 0.712)),
    url("../../assets/img/showcase.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .cus-nav {
    background-color: transparent !important;
    color: #fff;
    .sidiv {
      width: 83%;
      .si {
        height: 40px;
      }
    }

    .link-style {
      color: #fff !important;
      margin-left: 1rem;
      font-weight: bold;
    }
    .logo {
      height: 80px;
    }
  }

  .showcase-content {
    height: 84vh;
    color: #fff !important;
  }

  .linkh {
    color: #666;
    display: inline-block;
    margin: 0;
    text-transform: uppercase;
  }
  .linkh:after {
    display: block;
    content: "";
    border-bottom: solid 3px #fff;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }
  .linkh:hover:after {
    transform: scaleX(1);
  }
  .linkh.fromRight:after {
    transform-origin: 100% 50%;
  }
  .linkh.fromLeft:after {
    transform-origin: 0% 50%;
  }
}

.cus-nav {
  background-color: transparent !important;
  color: #fff;
  .sidiv {
    width: 83%;
    .si {
      height: 40px;
    }
  }

  .link-style {
    color: #fff !important;
    margin-left: 1rem;
    font-weight: bold;
  }
  .logo {
    height: 80px;
  }
}
