.showcase {
  background-image: url("../../assets/img/showcase.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .cus-nav {
    background-color: transparent !important;
    color: #fff;
    .sidiv {
      width: 83%;
      .si {
        height: 40px;
      }
    }

    .link-style {
      color: #fff !important;
      margin-left: 1rem;
      font-weight: bold;
    }
    .logo {
      height: 80px;
    }
  }

  .showcase-content {
    height: 84vh;
    color: #fff !important;
  }

  .linkh {
    color: #666;
    display: inline-block;
    margin: 0;
    text-transform: uppercase;
  }
  .linkh:after {
    display: block;
    content: "";
    border-bottom: solid 3px #fff;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }
  .linkh:hover:after {
    transform: scaleX(1);
  }
  .linkh.fromRight:after {
    transform-origin: 100% 50%;
  }
  .linkh.fromLeft:after {
    transform-origin: 0% 50%;
  }
}

// .bigcon {
//   .title {
//     font-size: 6.5rem;
//   }
//   .subtitle {
//     font-size: 2.5rem;
//   }
// }

.text3 {
  font-size: 1.5rem;
}

.cusbtn {
  text-decoration: none !important;
  background-color: #3ad8b2;
  color: #000;
  font-size: 1.4rem;
  padding: 0.5rem 1.5rem;
  border: 3px solid #fff;
  font-weight: bold;
  border-radius: 20px;
  letter-spacing: 3px;
}

.cusbtn:hover {
  background-color: #3ad8b2;
  color: #000;
}

.ct {
  font-size: 2rem;
  font-weight: bold;
}

.hashimg {
  height: 221px;
}
.formobile {
  display: none;
}
.fordesk {
  display: block;
}

.p2esec {
  margin-top: 5rem;
  .formobile {
    display: none;
  }
  .p2esec-title {
    font-size: 6.5rem;
  }
  .p2esec-subtitle {
    font-size: 2.5rem;
  }
}

.useronline {
  margin-top: 7rem;
  .useronlineimg {
    background: url("../../assets/img/txt-only.png");
    background-size: contain;
    // background-repeat: no-repeat;
    max-width: 100%;
  }
  .userborder {
    border: 5px solid #1dff27;
    padding: 0.5rem 3.5rem;
    background: #000;
  }
  .usernumber {
    color: #1dff27;
    font-weight: bold;
    font-size: 2.8rem;
  }
  .user-subtile {
    font-size: 1.5rem;
  }
}

.secsection {
  position: relative;
  .sec {
    margin-top: 5rem;
  }
  .playnowimg {
    height: 220px;
    position: absolute;
    bottom: 0%;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
  }
  .topsec {
    position: absolute;
    top: 0%;
  }
}

// ----------------------------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------------

@media only screen and (max-width: 600px) {
  .logo-text {
    font-size: 1.7rem !important;
  }

  .smm {
    height: 150px;
  }

  .hashimg {
    height: 100px;
  }

  .ct {
    font-size: 1rem;
  }

  .sidiv {
    display: none;
  }

  .rmt {
    margin-top: 3.5rem;
  }

  .showcase {
    height: 40vh;
    background-image: url("../../assets/img/Background.png");

    .showcase-content {
      height: 70%;
      display: flex;
      align-items: flex-end;
      // margin-top: 14rem;
      .countd {
        .showcase-title {
          font-size: 1.4rem;
        }
        .showcase-logo {
          font-size: 2rem !important;
        }
        margin-top: 2rem !important;
        .mbcon {
          margin-top: 2rem !important;
        }
      }
    }
  }

  .formobile {
    display: block;
  }
  .fordesk {
    display: none;
  }

  .p2esec {
    margin-top: 0;
    .fordesk {
      display: none;
    }
    .formobile {
      display: block;
    }
    .p2esec-title {
      font-size: 2.5rem !important;
    }
    .p2esec-subtitle {
      font-size: 1.4rem !important;
    }
    .p2esec-img-text {
      height: 20px;
    }
    .p2esec-text3 {
      font-size: 0.6rem;
    }
  }

  .useronline {
    margin-top: 3.4rem;
    .userborder {
      border: 3px solid #1dff27;
      padding: 0rem 1.5rem;
      margin-top: -15px;
    }
    .usernumber {
      color: #1dff27;
      font-weight: bold;
      font-size: 2.5rem;
    }
    .user-subtile {
      font-size: 1.3rem;
    }
  }
  .useronlineimg {
    background: url("../../assets/img/Mobile-final.png") !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
  }

  // .secsection {
  //   position: relative;
  //   .sec {
  //     margin-top: 2rem;
  //   }
  // }

  .ssec {
    margin-top: 3rem;
    z-index: 1 !important;
  }
  .mgimg {
    margin-top: -59px;
    z-index: 0 !important;
  }
  .playnowimg {
    height: 100px !important;
  }

  .rimg {
    height: auto !important;
  }

  .fmlogo-text {
    font-size: 2rem;
  }
  .bovsmimg {
    height: 140px !important;
  }
  .mct {
    font-weight: 600;
    font-size: 1.1rem;
  }
  .mhashimg {
    height: 101px;
  }
  .mmsearchtext {
    font-size: 2.1rem !important;
  }
}

// ----------------------------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------------

.fw-500 {
  font-weight: 500;
}

.sp {
  word-spacing: 8px !important;
}

.showcase-title {
  font-size: 2rem;
  font-weight: bold;
}
.logo-text {
  font-size: 4rem;
}
.textblue {
  color: #4675ff;
}

.contact-showcase {
  background-image: linear-gradient(rgba(0, 0, 0, 0.747), rgba(0, 0, 0, 0.712)),
    url("../../assets/img/showcase.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .cus-nav {
    background-color: transparent !important;
    color: #fff;
    .sidiv {
      width: 83%;
      .si {
        height: 40px;
      }
    }

    .link-style {
      color: #fff !important;
      margin-left: 1rem;
      font-weight: bold;
    }
    .logo {
      height: 80px;
    }
  }

  .showcase-content {
    height: 84vh;
    color: #fff !important;
  }

  .linkh {
    color: #666;
    display: inline-block;
    margin: 0;
    text-transform: uppercase;
  }
  .linkh:after {
    display: block;
    content: "";
    border-bottom: solid 3px #fff;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }
  .linkh:hover:after {
    transform: scaleX(1);
  }
  .linkh.fromRight:after {
    transform-origin: 100% 50%;
  }
  .linkh.fromLeft:after {
    transform-origin: 0% 50%;
  }
}

.cus-nav {
  background-color: transparent !important;
  color: #fff;
  .sidiv {
    width: 83%;
    .si {
      height: 40px;
    }
  }

  .link-style {
    color: #fff !important;
    margin-left: 1rem;
    font-weight: bold;
  }
  .logo {
    height: 80px;
  }
}
