:root {
  --marquee-width: 100vw;
  --marquee-height: 35vh;
  --marquee-elements: 9;
  --marquee-elements-displayed: 5;
  --marquee-element-width: calc(
    var(--marquee-width) / var(--marquee-elements-displayed)
  );
  --marquee-animation-duration: calc(var(--marquee-elements) * 2s);
}

.marquee {
  width: var(--marquee-width);
  height: var(--marquee-height);
  color: #eee;
  overflow: hidden;
  position: relative;
  /* border: 1px solid red; */
}

.marquee-content {
  list-style: none;
  height: 100%;
  display: flex;
  animation: scrolling var(--marquee-animation-duration) linear infinite;
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(
      calc(-1 * var(--marquee-element-width) * var(--marquee-elements))
    );
  }
}

.marquee-content li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: var(--marquee-element-width);
  max-height: 100%;
  white-space: nowrap;
}

.imgtag {
  width: 20vw;
}

@media (max-width: 600px) {
  :root {
    --marquee-width: 100vw;
    --marquee-height: 23vh;
    --marquee-elements-displayed: 3;
  }
  .marquee:before,
  .marquee:after {
    width: 5rem;
  }
  .imgtag {
    width: 100%;
  }
}
