* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Montserrat VariableFont";
  src: local("Montserrat VariableFont"),
    url(./assets/Montserrat/Montserrat-VariableFont_wght.ttf) format("truetype");
}

body {
  /* background-color: #0d0d0e !important; */
  background-color: #000 !important;
  color: #fff !important;
  font-family: "Montserrat VariableFont" !important;
}

html {
  scroll-behavior: smooth;
}

.btn-pri {
  background-color: #3671e9;
  color: #fff;
  border-radius: 10px;
}

.btn-cus {
  background: #b85042;
  color: #fff;
  border-radius: 3px;
  box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.13);
}

.mt-h {
  margin-top: 7rem;
}

.borderbottom {
  border-bottom: 3px solid #fff;
}

a {
  text-decoration: none !important;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("./assets/img/Menu.png") !important;
}
.navbar-dark .navbar-toggler {
  border: none !important;
}

ol,
ul {
  padding-left: 0 !important;
}

@media only screen and (max-width: 600px) {
  .rmt-1 {
    margin-top: 1rem;
  }
  .rmt-2 {
    margin-top: 2rem;
  }
  .rmt-3 {
    margin-top: 3rem;
  }
  .rmt-5 {
    margin-top: 5rem;
  }
  .rtext-center {
    text-align: center;
  }
  .hideinmob {
    display: none;
  }
}
